table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

tr { 
    border: solid;
    border-width: 1px 0;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

th {
    background: #eee;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}